body{
  font-family: 'Arial', sans-serif;
  margin: 0;
}

#main-heading{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#todo-input, #todo-date{
  font-size: 15px;
  padding: 10px 5px;
}


.btn-delete{
  background-color: rgb(143, 14, 14);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo{
  background-color: rgb(30, 134, 30);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.mobile-mockup {
  width: 700px; /* Adjust width as needed */
  height: 600px; /* Adjust height as needed */
  background-color: #ddd; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  position: fixed;
  top: 0;
  left: 28%;
  z-index: -1;
  background-size: cover;
}

.app-container {
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 20px; /* Adjust padding for spacing */
}

@media only screen and (device-width: 375px) and (device-orientation: portrait) {
  .mobile-mockup {
    left: 8%; /* Adjust as needed for iPhone portrait */
    background-size: cover;
  }
}


@media only screen and (max-width: 1100px) { /* For screens less than 768px */
  .mobile-mockup {
    width: 90%; /* Adjust width as needed for smaller screens */
    height: calc(100vh - 50px); /* Set height to viewport height minus some padding */
    background-size: cover;
  }
}

@media only screen and (device-width: 375px) and (device-orientation: portrait) {
  .app-container { /* Adjust for iPhone portrait */
    padding: 10px; /* Less padding */
  }
}
