body {
  font-family: 'Arial', sans-serif;
  margin: 0; /* Remove default margin */
}

#main-heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column for smaller screens */
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
}

#todo-input, #todo-date {
  width: 100%; /* Full width on smaller screens */
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: rgb(143, 14, 14);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo {
  background-color: rgb(30, 134, 30);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
.app-container {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 10px; /* Adjust padding for spacing */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center content horizontally */
}
}
